<!DOCTYPE html>
<html class='use-all-space'>
<head>
    <meta http-equiv='X-UA-Compatible' content='IE=Edge' />
    <meta charset='UTF-8'>
    <title>Demo app</title>
    <meta name='viewport'
          content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.38.0/maps/maps.css'/>
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.38.0/maps/maps-web.min.js"></script>
    <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.38.0/services/services-web.min.js'></script>
    <style>
        #map {
            width: 800px;
            height: 600px;
        }
    </style>
</head>
<body bgcolor ="1C1C1E" style="align-items: center;">
  <h1 style="color:white; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Today's Routine</h1>
    <div id='map' class='map' ></div>
    <script>
        const x1 = -122.510601;
        const y1 = 37.768014;
        var map = tt.map({
            key: 'UloKIDzJGUvdhtok8LyryaHU9AH2mzNK',
            container: 'map',
            style: 'tomtom://vector/1/basic-main',
            center: [-122.492544, 37.768454],
            zoom: 10
        });
        var marker = new tt.Marker().setLngLat([x1,y1]).addTo(map);
        var marker = new tt.Marker().setLngLat([-122.478468,37.769167]).addTo(map);
        tt.services.calculateRoute({
    key: 'UloKIDzJGUvdhtok8LyryaHU9AH2mzNK',
    locations: x1.toString() + ',' + y1.toString() + ':-122.478468,37.769167'
})
.go()
.then(function(response) {
    var geojson = response.toGeoJson();
    map.addLayer({
        'id': 'route',
        'type': 'line',
        'source': {
            'type': 'geojson',
            'data': geojson
        },
        'paint': {
            'line-color': '#00d7ff',
            'line-width': 8
        }
    });
    var bounds = new tt.LngLatBounds();
    geojson.features[0].geometry.coordinates.forEach(function(point) {
        bounds.extend(tt.LngLat.convert(point));
    });
    map.fitBounds(bounds, {padding: 20});
});
    </script>
</body>
</html>