<html>
    <link rel="stylesheet" href="main.css">
    <body>
        <div class="redeem">
            <img
              class="vector"
              src="https://anima-uploads.s3.amazonaws.com/projects/5fd51c4941eaa3eee13788dd/releases/5fd51c5632acc12df39af48f/img/vector@1x.svg"
            />
            <div class="rectangle-32"></div>
            <img
              class="ellipse-9"
              src="https://anima-uploads.s3.amazonaws.com/projects/5fd51c4941eaa3eee13788dd/releases/5fd51c5632acc12df39af48f/img/ellipse-9@2x.svg"
            />
            <a href="javascript:SubmitForm('form1')">
              <div class="group-4">
                <img
                  class="arrow-1"
                  src="https://anima-uploads.s3.amazonaws.com/projects/5fd51c4941eaa3eee13788dd/releases/5fd51c5632acc12df39af48f/img/arrow-1@2x.svg"
                /></div
            ></a>
            <h1 class="redeem-31021 valign-text-middle inter-bold-concrete-105px border-class-1">Redeem</h1>
            <img
              class="ellipse-12"
              src="https://anima-uploads.s3.amazonaws.com/projects/5fd51c4941eaa3eee13788dd/releases/5fd51c5632acc12df39af48f/img/ellipse-12@2x.svg"
            />
            <img
              class="ellipse-13"
              src="https://anima-uploads.s3.amazonaws.com/projects/5fd51c4941eaa3eee13788dd/releases/5fd51c5632acc12df39af48f/img/ellipse-12@2x.svg"
            />
            <img
              class="ellipse-11"
              src="https://anima-uploads.s3.amazonaws.com/projects/5fd51c4941eaa3eee13788dd/releases/5fd51c5632acc12df39af48f/img/ellipse-11@1x.svg"
            />
            <div class="chevron-left-1">
              <img
                class="vector-6TEsx5"
                src="https://anima-uploads.s3.amazonaws.com/projects/5fd51c4941eaa3eee13788dd/releases/5fd51c5632acc12df39af48f/img/vector-1@2x.svg"
              />
            </div>
            <div class="chevron-left-2">
              <img
                class="vector-6TEsx6"
                src="https://anima-uploads.s3.amazonaws.com/projects/5fd51c4941eaa3eee13788dd/releases/5fd51c5632acc12df39af48f/img/vector-2@2x.svg"
              />
            </div>
            <div class="points-4070 valign-text-middle inter-bold-white-51px border-class-1">points: {{points}}</div>
          </div>
    </body>
</html>