@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.inter-bold-concrete-105px {
  color: var(--concrete);
  font-family: "Inter-SemiBold", Helvetica, Arial, serif;
  font-size: 105px;
  font-style: normal;
  font-weight: 700;
}
.inter-bold-white-51px {
  color: white;
  font-family: "Inter-SemiBold", Helvetica, Arial, serif;
  font-size: 51px;
  font-style: normal;
  font-weight: 700;
}
.redeem {
  background-color: var(--eerie-black);
  height: 1080px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}
.redeem .arrow-1 {
  background-color: transparent;
  height: 38px;
  left: 1665px;
  position: absolute;
  top: 930px;
  width: 92px;
}
.redeem .chevron-left-1 {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  height: 96px;
  justify-content: flex-start;
  left: 22px;
  padding: 0 28px;
  position: absolute;
  top: 573px;
  width: 88px;
}
.redeem .chevron-left-2 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  height: 96px;
  justify-content: flex-start;
  left: 1810px;
  padding: 20px 28px;
  position: absolute;
  top: 573px;
  transform: rotate(180deg);
  width: 96px;
}
.redeem .ellipse-11 {
  background-color: transparent;
  height: 608px;
  left: 656px;
  position: absolute;
  top: 317px;
  width: 608px;
}
.redeem .ellipse-12 {
  background-color: transparent;
  height: 426px;
  left: 1324px;
  position: absolute;
  top: 408px;
  width: 426px;
}
.redeem .ellipse-13 {
  background-color: transparent;
  height: 426px;
  left: 170px;
  position: absolute;
  top: 408px;
  width: 426px;
}
.redeem .ellipse-9 {
  background-color: transparent;
  height: 102px;
  left: 1660px;
  position: absolute;
  top: 899px;
  width: 102px;
}
.redeem .points-4070 {
  background-color: transparent;
  height: 99px;
  left: 1452px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 84px;
  width: 378px;
}
.redeem .rectangle-32 {
  background-color: var(--concrete);
  height: 10px;
  left: 843px;
  position: absolute;
  top: 235px;
  width: 234px;
}
.redeem .redeem-31021 {
  background-color: transparent;
  height: 100px;
  left: 732px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 83px;
  width: 458px;
}
.redeem .vector {
  background-color: transparent;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 1920px;
}
.redeem .vector-6TEsx5 {
  background-color: transparent;
  flex-shrink: 0;
  height: 56px;
  width: 32px;
}
.redeem .vector-6TEsx6 {
    background-color: transparent;
    flex-shrink: 0;
    height: 56px;
    width: 32px;
    transform: scaleX(-1);
  }
:root {
  --concrete: rgba(242, 242, 247, 1);
  --eerie-black: rgba(28, 28, 30, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}