<html>
    <link rel = "stylesheet" href="main.css">
    <form class="login" name="form1" action="form1" method="post">
    <img
      class="vector"
      src="https://anima-uploads.s3.amazonaws.com/projects/5fd51c4941eaa3eee13788dd/releases/5fd51c5632acc12df39af48f/img/vector@1x.svg"
    />
    <div class="rectangle-32"></div>
    <div class="rectangle-33-C61RwL border-class-2"></div>
    <div class="rectangle-33-VMr6Om border-class-2"></div>
    <div class="rectangle-34"></div>
    <textarea
      class="password-2416 ubuntu-bold-concrete-36px border-class-1"
      name="password8"
      placeholder="id"
      type="text"
      required
    ></textarea>
    <textarea
      class="password-2415 ubuntu-bold-concrete-36px border-class-1"
      name="password8"
      placeholder="login"
      type="text"
      required
    ></textarea>
    <div class="username-23815 valign-text-middle inter-bold-razzmatazz-36px border-class-1">username</div>
    <a href="javascript:SubmitForm('form1')">
      <div class="group-4">
        <img
          class="arrow-1"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fd51c4941eaa3eee13788dd/releases/5fd5226159afa63130ed26d0/img/arrow-1@2x.svg"
        /></div
    ></a>
    <h1 class="login-2960 valign-text-middle inter-bold-concrete-105px border-class-1">Login</h1>
  </form>
  </html>