@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.driver-landing {
  background-color: var(--eerie-black);
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 1920px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.driver-landing .rectangle-32 {
  background-color: var(--concrete);
  height: 0.93%;
  left: 43.91%;
  position: absolute;
  top: 26.67%;
  width: 12.19%;
}
.driver-landing .todays-route-42329 {
  background-color: transparent;
  height: 306px;
  left: 502px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 42px;
  width: 880px;
}
.driver-landing .vector {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.inter-bold-concrete-105px {
  color: var(--concrete);
  font-family: "Inter-SemiBold", Helvetica, Arial, serif;
  font-size: 105px;
  font-style: normal;
  font-weight: 700;
}
:root {
  --concrete: rgba(242, 242, 247, 1);
  --eerie-black: rgba(28, 28, 30, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}