<html>
<link rel="stylesheet" href="landing/main.css">
<div class="frame-13">
    <div class="rectangle-1"></div>
    <img class="bg-3" src="https://anima-uploads.s3.amazonaws.com/projects/5fd51c4941eaa3eee13788dd/releases/5fd540d659afa63130ed274b/img/bg-3@1x.png" />
    <img class="the-greate-ll-save-it" src="https://anima-uploads.s3.amazonaws.com/projects/5fd51c4941eaa3eee13788dd/releases/5fd540d659afa63130ed274b/img/the-greatest-threat-to-our-planet-is-thinking-that-someone-else-@2x.svg" />
    <img class="rectangle-10" src="https://anima-uploads.s3.amazonaws.com/projects/5fd51c4941eaa3eee13788dd/releases/5fd540d659afa63130ed274b/img/rectangle-10@2x.svg" />
    <h1 class="login-14516 inter-bold-white-28px border-class-1"><a href="../login/login.html" style="text-decoration: none; color:white;">LOGIN</a></h1>
    <img class="rectangle-11" src="https://anima-uploads.s3.amazonaws.com/projects/5fd51c4941eaa3eee13788dd/releases/5fd540d659afa63130ed274b/img/rectangle-11@2x.svg" />
    <div class="register-14521 inter-bold-concrete-28px border-class-1"><a href="../reg/reg.html" style="text-decoration: none; color:white;">REGISTER</a></div>

</div>

</html>